<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=.; Initial Catalog=DnbBD; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--system.web-->
  <system.web>
    <sessionState timeout="30"/>
    <siteMap defaultProvider="SiteMap1">
      <providers>
        <add name="SiteMap1" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap"/>
        <add name="SiteMap2" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web_Arranged.sitemap"/>
      </providers>
    </siteMap>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10120"/>
    <!--Maximum 5MB upload-->
    <customErrors mode="Off"/>
    <pages validateRequest="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" protection="All" timeout="30"/>
    </authentication>
    <membership defaultProvider="OwnerProvider">
      <providers>
        <clear/>
        <add name="OwnerProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DBConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Hashed" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DBConnectionString" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <!--End system.web-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="" password="" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--SSL-->
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
  <!--All Profile Page-->
  <location path="AccessAdmin/Admin_Profile.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sub-Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessMember/MemberProfile.aspx">
    <system.web>
      <authorization>
        <allow roles="Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessSeller/Seller_Profile.aspx">
    <system.web>
      <authorization>
        <allow roles="Seller"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--AccessAdmin/Member-->
  <location path="AccessAdmin/Member/Member_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Member_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Member/Default_Member.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Default_Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Member/Member_Details.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Member_Details"/>
        <allow roles="Member_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Member/Add_Member.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Member/Member_Access_Control.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Member_Access_Control"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Member/Joining_Limit.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Joining_Limit"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Member/Auto_Board_Member_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Auto_Board_Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--AccessAdmin/Sub-Admin-->
  <location path="AccessAdmin/Sub_Admin/Active_Deactivate.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sub_Admin_Active_Deactivate"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Sub_Admin/Manage_Sub_Admin_Access.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sub_Admin_Manage_Access"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Sub_Admin/SignUp.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sub_Admin_SignUp"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--AccessAdmin/Bonus And Commission-->
  <location path="AccessAdmin/Bonus_Com/Reference_Spot_Com.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Reference_Spot_Com"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Bonus_Com/Award_Designation.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Award_Designation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Bonus_Com/Executive_Bonus.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Executive_Bonus"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Bonus_Com/Generation_Commission.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Generation_Commission"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="AccessAdmin/Bonus_Com/Duplex_Commission.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Duplex_Commission"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Bonus_Com/Retail_Commission.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Retail_Commission"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Bonus_Com/Membership_Bonus.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Membership_Bonus"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="AccessAdmin/Add_Product_Point.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Product_Point"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--AccessAdmin/Seller-->
  <location path="AccessAdmin/Seller/Type/Add_Area.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Area"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Type/Assign_Type.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Assign_Seller_Type"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Type/Assigned_Seller_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Assigned_Seller_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Seller_Signup.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Seller_Signup"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Seller_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Seller_List"/>
        <allow roles="Seller_Signup"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Seller_Access_Control.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Seller_Access_Control"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Product_Distribution.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Product_Distribution"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--AccessAdmin/Accounts-->
  <location path="AccessAdmin/Accounts/Cash_Position.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Cash_Position"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Accounts/Income_Expense/Add_Account.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Account"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Accounts/Income_Expense/Add_Expanse.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Expanse"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Accounts/Income_Expense/Others_Income.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Others_Income"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Accounts/Withdraw_Balance.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Withdraw_Balance"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Accounts/Product_Selling_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Product_Selling_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Accounts/Withdraw_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Withdraw_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Accounts/Requested_Withdraw_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Requested_Withdraw_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!---SMS-->
  <location path="AccessAdmin/SMS/Send_SMS.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Send_SMS"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/SMS/Sent_Records.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sent_Records"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--New Update-->
  <location path="AccessAdmin/Product_Short_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Product_Short_List"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--AccessAdmin/Product_Point-->
  <location path="AccessAdmin/Product_Point/Point_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Point_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Product_Point/Sell_Product.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sell_Product"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Product_Point/Receipt.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Sell_Product"/>
        <allow roles="Add_Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Sub_Admin/Account/Create_Account.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="b_Load_Create_Account"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Sub_Admin/Account/Authorized_Person.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="b_Load_Authorized_Person"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Sub_Admin/Account/Load_Balance.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Load_Balance"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Sub_Admin/Account/Approve_Amount_by_Code.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="b_Load_Approve_by_Code"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Commission_Percentage.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Commission_Percentage"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Product/Order_Confirmation.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Order_Confirmation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccessAdmin/Seller/Product/Product_Delivery.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Product_Delivery"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  
  <!---AccessSeller-->
  <location path="AccessSeller">
    <system.web>
      <authorization>
        <allow roles="Seller"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!---Access member-->
  <location path="AccessMember">
    <system.web>
      <authorization>
        <allow roles="Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>